{% extends 'base_restaurateur_page.html' %}
{% load admin_urls %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Статус заказа</th>
      <th>Стоимость заказа</th>
      <th>Способ оплаты</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Рестораны</th>
      <th> Редактировать</th>
      <th> Комментарий</th>
    </tr>

    {% for item in items %}
      <tr>
        <td>{{ item.order.pk }}</td>
        <td>{{ item.order.get_status_display }}</td>
        <td>{{ item.order.price }} руб.</td>
        <td>{{ item.order.get_payment_type_display }}</td>
        <td>{{ item.order.last_name }} {{ item.order.first_name }}</td>
        <td>{{ item.order.phone }}</td>
        <td>{{ item.order.address }}</td>
        <td>
          {% if item.order.cook %}
            {{ item.order.cook }}
          {% elif item.restaurants %}
            <details>
              <summary>Может быть приготовлен в:</summary>
                {% for restaurant in item.restaurants %}
                 <li>{{restaurant}}</li>
                {% endfor %}
            </details>
            {% else %}
              Нет доступных ресторанов
          {% endif %}
        </td>
        <td><a href="{% url "admin:foodcartapp_order_change" object_id=item.order.pk  %}?next={{ request.get_full_path|urlencode }}">Редактировать</a></td>
        <td>{{ item.order.comment }}</td>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}
